.social {
  max-width: 1280px;
  height: 88px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social.wrapper {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media only screen and (max-width: 1024px) {
  .social.wrapper {
    flex: 1;
    justify-content: space-around;
    padding: 0 24px;
  }
}
