
.yellow__block {
    max-width: 1280px;
    background-color: #ffcf00;
}

.yellow__block__content {
    display: flex;
    justify-content: space-between;
}

.container {
    height: 400px;
    display: flex;
    align-items: center;
    flex: 1;
}

@media only screen and (max-width: 1024px) {
    .container.start, .container > div > div:last-child {
        display: none;
    }

    .container {
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .container.push-right {
        padding-right: 0;
    }

    .container.push-right .description {
        font-size: 22px;
        line-height: 146%;
        text-align: center;
    }

    .yellow__block__content {
        flex-direction: column;
        justify-content: center;
        padding: 24px;
    }
}